<div class="swiper-slide">




<div  class=" featured-video-slider featured-slide color-{{ color_scheme }} gradient" >

 


    <div class="feature-slide-content"> 
        {%  unless subtitle == blank %} <h5>{{subtitle}}</h5> {% endunless %}  
        {%  unless title == blank %} <h2>{{title}}</h2> {% endunless %}  
        {%  unless content == blank %} <p>{{content}}</p> {% endunless %}  
          
 

        {%  unless btn_text == blank %} 
            <a href="{{ btn_url }}" class="btn">
                <span>{{btn_text}}</span>
                {% render 'icon-right-arrow' %}
            </a> 
        {% endunless %} 

        {%  unless bottomtext == blank %} <span class="bottomtext">{{bottomtext}}</span> {% endunless %}

   
    </div>


    <div class="featured-video">
        {% render 'custom-video' %}
    </div>

 

</div>
    

</div> 